* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  background-color: rgb(5, 10, 48);
  font-family: "Press Start 2P", cursive;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: #ffe12b;
  text-decoration: none;
}

a:hover {
  color: #7ec8e3;
}

.app-wrapper {
  position: relative;
}

#movie-details {
  position: fixed;
  overflow-y: scroll;
  color: #ffe12b;
  text-align: center;
  background-color: rgba(5, 10, 48, 0.99);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  display: none;
  z-index: 999;
}

.show {
  display: block !important;
}

.close-wrapper {
  text-align: end;
  margin-bottom: 3rem;
  align-self: flex-start;
}

.close {
  font-size: 1.5rem;
  background-color: transparent;
  color: #ffe12b;
  border: none;
  cursor: pointer;
}

.movie-details-header {
  margin-bottom: 3rem;
}

.movie-details-body > img {
  width: 300px;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.9);
}

.movie-details-descp {
  text-align: left;
  margin: auto;
  max-width: 900px;
  padding-top: 5rem;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  color: #ffe12b;
}

.company-title {
  text-align: center;
}

#trending,
#upcoming,
#top-rated {
  display: flex;
  overflow-x: scroll;
  /* scrollbar-color: #050a30 #050a30; */
}

#movie-per-genre {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-between;
  flex-direction: row-reverse;
  overflow-y: scroll;
  color: #ffe12b;
  text-align: center;
  background-color: rgba(5, 10, 48, 0.99);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem;
  display: none;
  z-index: 99;
}

.movie-per-genre-container {
  display: flex;
  align-self: baseline;
  flex-wrap: wrap;
}

.movie-per-genre-container:nth-child(1) {
  margin-left: 0;
}

.movie-per-genre-card {
  padding: 2rem;
  margin: 1rem;
  background-color: #ffe12b;
  border-radius: 10px 50px;
  cursor: pointer;
  transition: ease-in-out.31s;
  align-self: center;
}

.movie-per-genre-card-header {
}

.movie-per-genre-card-body {
}

#genres {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 2rem;
  margin: 1rem;
  background-color: #ffe12b;
  border-radius: 10px 50px;
  cursor: pointer;
  transition: ease-in-out.31s;
}

.card:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.genre-card {
  width: calc(30%);
}
img {
  border-radius: 10px;
}

.company-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.company-footer-left {
  margin-top: 0;
  vertical-align: sub;
  text-align: left;
}

.company-footer-right {
  display: flex;
  flex-direction: column;
}

.company-footer-right a {
  margin-bottom: 1rem;
}

.copy-write {
  text-align: center;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }

  #movie-details {
    padding: 5rem 2rem;
  }
  .company-title > svg {
    width: 30px;
    height: 30px;
  }
  #genres {
    display: block;
    overflow-y: scroll;
    max-height: 50vh;
  }

  .genre-card {
    width: calc(100% - 20px);
  }
}
